{% extends 'index.html' %}
{% load static %}
{% block contant %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	
</head>
<body>
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>change password</h1>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Forgot  </h3>
						<form class="row login_form"  method="POST" id="contactForm" novalidate="novalidate">
							{% csrf_token %}
							{% if msg %}
								<b style="color: red;">{{msg}}</b>
							{% endif %}
							<div class="col-md-12 form-group">
								<input type="password" class="form-control"  name="npassword" >
								<input type="password" class="form-control"  name="cpassword"  >

							</div>
							
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">change password</button>
							
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
</body>

</html>
{% endblock %}